<config platform="android" template="android (default)">Created: Tue Mar 31 14:29:47 2015

By: Nick

Using Template: android (default)



&lt;description to go here><option value="" fromDef="true" name="android-icon-dir"/>
    <option value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" fromDef="true" name="android-icon-group"/>
    <option value="" fromDef="true" name="android-icon-gallery"/>
    <option value="" fromDef="true" name="android-icon-nonstandard"/>
    <option value="" fromDef="true" name="android-external-res"/>
    <option value="" fromDef="true" name="android-external-assets"/>
    <option value="1" fromDef="true" name="android-install-location"/>
    <option value="com.nickchops.wrong" fromDef="false" name="android-pkgname"/>
    <option value="resources-deploy/wrongicon480rounded.png" fromDef="false" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong" fromDef="true" name="name"/>
    <option value="W R O N G" fromDef="false" name="caption"/>
    <option value="Nickchops" fromDef="false" name="provider"/>
    <option value="(C) Nick Smith" fromDef="false" name="copyright"/>
    <option value="1.1.1" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="resources-deploy/AndroidManifest_wrong.xml" fromDef="false" name="android-manifest"/>
    <option value="com.nickchops.s3eAndroidUserActivity.s3eAndroidUserActivity" fromDef="false" name="android-custom-activity"/>
    <option value="" fromDef="true" name="android-extra-manifest"/>
    <option value="" fromDef="true" name="android-extra-application-manifest"/>
    <option value="" fromDef="true" name="android-extra-strings"/>
    <option value="" fromDef="true" name="android-supports-gl-texture"/>
    <option value="0" fromDef="true" name="android-target-sdk-version"/>
    <option value="0" fromDef="true" name="android-min-sdk-version"/>
    <option value="" fromDef="true" name="android-unsigned"/>
    <option value="" fromDef="true" name="android-tm"/>
</config>
