<config platform="android" template="android (default)">Created: Mon Mar 24 17:22:36 2014
By: nsmith
Using Template: android (default)

&lt;description to go here><option value="" name="android-icon-dir" fromDef="true"/>
    <option value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group" fromDef="true"/>
    <option value="" name="android-icon-gallery" fromDef="true"/>
    <option value="" name="android-icon-nonstandard" fromDef="true"/>
    <option value="" name="android-external-res" fromDef="true"/>
    <option value="1" name="android-install-location" fromDef="true"/>
    <option value="com.Nick Smith.Wrong_x86" name="android-pkgname" fromDef="true"/>
    <option value="resources-deploy/wrongicon480.png" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="0" name="embed-icf" fromDef="false"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="Wrong_x86" name="name" fromDef="false"/>
    <option value="W R O N G (x86)" name="caption" fromDef="false"/>
    <option value="Nick Smith" name="provider" fromDef="false"/>
    <option value="(C) Nick Smith" name="copyright" fromDef="false"/>
    <option value="0.5.0" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="android-manifest" fromDef="true"/>
    <option value="" name="android-custom-activity" fromDef="true"/>
    <option value="" name="android-extra-manifest" fromDef="true"/>
    <option value="" name="android-extra-application-manifest" fromDef="true"/>
    <option value="" name="android-extra-strings" fromDef="true"/>
    <option value="" name="android-supports-gl-texture" fromDef="true"/>
    <option value="" name="android-unsigned" fromDef="true"/>
</config>
