<config template="android (default)" platform="android">Created: Sun 24. Nov 14:46:04 2013
By: nsmith
Using Template: android (default)

&lt;description to go here><option fromDef="true" value="" name="android-icon-dir"/>
    <option fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group"/>
    <option fromDef="true" value="" name="android-icon-gallery"/>
    <option fromDef="true" value="" name="android-icon-nonstandard"/>
    <option fromDef="true" value="" name="android-external-res"/>
    <option fromDef="true" value="1" name="android-install-location"/>
    <option fromDef="false" value="com.nickchops.wrong" name="android-pkgname"/>
    <option fromDef="false" value="resources-deploy/wrongicon480.png" name="icon"/>
    <option fromDef="false" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="false" value="Wrong" name="name"/>
    <option fromDef="false" value="W R O N G" name="caption"/>
    <option fromDef="false" value="Nick Smith" name="provider"/>
    <option fromDef="false" value="(C) Nick Smith" name="copyright"/>
    <option fromDef="false" value="0.9.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="false" value="resources-deploy/AndroidManifest_wrong.xml" name="android-manifest"/>
    <option fromDef="true" value="" name="android-custom-activity"/>
    <option fromDef="true" value="" name="android-extra-manifest"/>
    <option fromDef="true" value="" name="android-extra-application-manifest"/>
    <option fromDef="true" value="" name="android-extra-strings"/>
    <option fromDef="true" value="" name="android-supports-gl-texture"/>
    <option fromDef="true" value="" name="android-unsigned"/>
    <option fromDef="true" value="" name="android-tm"/>
</config>
