<config platform="android" template="android (default)">Created: Tue Mar 31 14:29:47 2015
By: Nick
Using Template: android (default)

&lt;description to go here><option name="android-icon-dir" fromDef="true" value=""/>
    <option name="android-icon-group" fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option name="android-icon-gallery" fromDef="true" value=""/>
    <option name="android-icon-nonstandard" fromDef="true" value=""/>
    <option name="android-external-res" fromDef="true" value=""/>
    <option name="android-external-assets" fromDef="true" value=""/>
    <option name="android-install-location" fromDef="true" value="1"/>
    <option name="android-pkgname" fromDef="true" value="com.Nicholas Smith.Wrong"/>
    <option name="icon" fromDef="false" value="resources-deploy/wrongicon480.png"/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="distribution"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="resources/common.icf;resources/app.icf"/>
    <option name="name" fromDef="true" value="Wrong"/>
    <option name="caption" fromDef="true" value="Wrong"/>
    <option name="provider" fromDef="false" value="Nicholas Smith"/>
    <option name="copyright" fromDef="true" value="(C) Nicholas Smith"/>
    <option name="version" fromDef="false" value="0.1.8"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="android-manifest" fromDef="true" value=""/>
    <option name="android-custom-activity" fromDef="false" value="com.nickchops.s3eAndroidUserActivity.s3eAndroidUserActivity"/>
    <option name="android-extra-manifest" fromDef="true" value=""/>
    <option name="android-extra-application-manifest" fromDef="true" value=""/>
    <option name="android-extra-strings" fromDef="true" value=""/>
    <option name="android-supports-gl-texture" fromDef="true" value=""/>
    <option name="android-target-sdk-version" fromDef="true" value="0"/>
    <option name="android-min-sdk-version" fromDef="true" value="0"/>
    <option name="android-unsigned" fromDef="true" value=""/>
    <option name="android-tm" fromDef="true" value=""/>
</config>
