<config template="bb10 (default)" platform="bb10">Created: Fri Feb 14 16:14:28 2014
By: nsmith
Using Template: bb10 (default)

&lt;description to go here><option fromDef="true" value="" name="blackberry-author"/>
    <option fromDef="true" value="" name="blackberry-authorid"/>
    <option fromDef="true" value="" name="blackberry-hostname"/>
    <option fromDef="true" value="" name="blackberry-password"/>
    <option fromDef="false" value="store_resources/wrongicon480.png" name="icon"/>
    <option fromDef="false" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="Wrong" name="name"/>
    <option fromDef="true" value="Wrong" name="caption"/>
    <option fromDef="false" value="Nicholas Smith" name="provider"/>
    <option fromDef="true" value="(C) Nicholas Smith" name="copyright"/>
    <option fromDef="false" value="0.2.0" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="blackberry-phone-icon"/>
    <option fromDef="true" value="" name="blackberry-permissions-access-shared"/>
    <option fromDef="true" value="" name="blackberry-permissions-access-internet"/>
    <option fromDef="true" value="" name="blackberry-permissions-post-notification"/>
    <option fromDef="true" value="" name="blackberry-permissions-read-device-identifying-information"/>
    <option fromDef="true" value="" name="blackberry-permissions-read-geolocation"/>
    <option fromDef="true" value="" name="blackberry-permissions-record-audio"/>
    <option fromDef="true" value="" name="blackberry-permissions-use-camera"/>
</config>
