<config platform="bb10" template="bb10 (default)">Created: Fri Feb 14 16:14:41 2014
By: nsmith
Using Template: bb10 (default)

&lt;description to go here><option value="Nicholas Smith" fromDef="false" name="blackberry-author"/>
    <option value="gYAAgGwTu1XxMWOBWcntNTz_WcE" fromDef="false" name="blackberry-authorid"/>
    <option value="169.254.0.1" fromDef="false" name="blackberry-hostname"/>
    <option value="wnz7aw==" fromDef="false" name="blackberry-password"/>
    <option value="store_resources/wrongicon480.png" fromDef="false" name="icon"/>
    <option value="" fromDef="false" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong" fromDef="true" name="name"/>
    <option value="Wrong" fromDef="true" name="caption"/>
    <option value="Nicholas Smith" fromDef="false" name="provider"/>
    <option value="(C) Nicholas Smith" fromDef="true" name="copyright"/>
    <option value="0.2.0" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="blackberry-phone-icon"/>
    <option value="" fromDef="true" name="blackberry-permissions-access-shared"/>
    <option value="" fromDef="true" name="blackberry-permissions-access-internet"/>
    <option value="" fromDef="true" name="blackberry-permissions-post-notification"/>
    <option value="" fromDef="true" name="blackberry-permissions-read-device-identifying-information"/>
    <option value="" fromDef="true" name="blackberry-permissions-read-geolocation"/>
    <option value="" fromDef="true" name="blackberry-permissions-record-audio"/>
    <option value="" fromDef="true" name="blackberry-permissions-use-camera"/>
</config>
