<config platform="bb10" template="bb10 (default)">Created: Fri Feb 14 16:14:41 2014
By: nsmith
Using Template: bb10 (default)

&lt;description to go here><option value="Nicholas Smith" name="blackberry-author" fromDef="false"/>
    <option value="gYAAgGwTu1XxMWOBWcntNTz_WcE" name="blackberry-authorid" fromDef="false"/>
    <option value="169.254.0.1" name="blackberry-hostname" fromDef="false"/>
    <option value="wnz7aw==" name="blackberry-password" fromDef="false"/>
    <option value="store_resources/wrongicon480.png" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="Wrong" name="name" fromDef="true"/>
    <option value="Wrong" name="caption" fromDef="true"/>
    <option value="Nicholas Smith" name="provider" fromDef="false"/>
    <option value="(C) Nicholas Smith" name="copyright" fromDef="true"/>
    <option value="0.2.0" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="blackberry-phone-icon" fromDef="true"/>
    <option value="" name="blackberry-permissions-access-shared" fromDef="true"/>
    <option value="" name="blackberry-permissions-access-internet" fromDef="true"/>
    <option value="" name="blackberry-permissions-post-notification" fromDef="true"/>
    <option value="" name="blackberry-permissions-read-device-identifying-information" fromDef="true"/>
    <option value="" name="blackberry-permissions-read-geolocation" fromDef="true"/>
    <option value="" name="blackberry-permissions-record-audio" fromDef="true"/>
    <option value="" name="blackberry-permissions-use-camera" fromDef="true"/>
</config>
