<config template="bb10 (default)" platform="bb10">Created: Fri Feb 14 16:14:28 2014
By: nsmith
Using Template: bb10 (default)

&lt;description to go here><option fromDef="true" name="blackberry-author" value=""/>
    <option fromDef="true" name="blackberry-authorid" value=""/>
    <option fromDef="true" name="blackberry-hostname" value=""/>
    <option fromDef="true" name="blackberry-password" value=""/>
    <option fromDef="false" name="icon" value="store_resources/wrongicon480.png"/>
    <option fromDef="false" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="Wrong"/>
    <option fromDef="true" name="caption" value="Wrong"/>
    <option fromDef="false" name="provider" value="Nicholas Smith"/>
    <option fromDef="true" name="copyright" value="(C) Nicholas Smith"/>
    <option fromDef="false" name="version" value="0.2.0"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="blackberry-phone-icon" value=""/>
    <option fromDef="true" name="blackberry-permissions-access-shared" value=""/>
    <option fromDef="true" name="blackberry-permissions-access-internet" value=""/>
    <option fromDef="true" name="blackberry-permissions-post-notification" value=""/>
    <option fromDef="true" name="blackberry-permissions-read-device-identifying-information" value=""/>
    <option fromDef="true" name="blackberry-permissions-read-geolocation" value=""/>
    <option fromDef="true" name="blackberry-permissions-record-audio" value=""/>
    <option fromDef="true" name="blackberry-permissions-use-camera" value=""/>
</config>
