<config template="win32 (default)" platform="win32">Created: Tue 21. Jan 12:12:10 2014
By: nsmith
Using Template: win32 (default)

&lt;description to go here><option fromDef="true" value="" name="win32-pref-processtitle"/>
    <option fromDef="true" value="" name="win32-gles-directory"/>
    <option fromDef="true" value="" name="win32-icon"/>
    <option fromDef="true" value="" name="target-dir"/>
    <option fromDef="true" value="" name="win32-inno-name"/>
    <option fromDef="true" value="" name="win32-inno-text"/>
    <option fromDef="true" value="" name="win32-inno-bmp"/>
    <option fromDef="true" value="" name="win32-inno-icon"/>
    <option fromDef="false" value="store_resources/wrongicon480.png" name="icon"/>
    <option fromDef="false" value="" name="splashscreen"/>
    <option fromDef="false" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="distribution" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="Wrong" name="name"/>
    <option fromDef="true" value="Wrong" name="caption"/>
    <option fromDef="false" value="Nick Smith" name="provider"/>
    <option fromDef="false" value="(C) Nick Smith" name="copyright"/>
    <option fromDef="false" value="0.1.8" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
