<config platform="android" template="Distribution Android (template)">Created: Mon Feb 3 13:31:38 2014
By: nsmith
Using Template: Distribution Android (template)

&lt;description to go here><option value="" fromDef="true" name="android-icon-dir"/>
    <option value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" fromDef="true" name="android-icon-group"/>
    <option value="" fromDef="true" name="android-icon-gallery"/>
    <option value="" fromDef="true" name="android-icon-nonstandard"/>
    <option value="" fromDef="true" name="android-external-res"/>
    <option value="1" fromDef="true" name="android-install-location"/>
    <option value="com.Nick Smith.Wrong x86" fromDef="true" name="android-pkgname"/>
    <option value="store_resources/wrongicon480.png" fromDef="false" name="icon"/>
    <option value="" fromDef="false" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="distribution" fromDef="true" name="assets"/>
    <option value="0" fromDef="false" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong x86" fromDef="false" name="name"/>
    <option value="Wrong" fromDef="false" name="caption"/>
    <option value="Nick Smith" fromDef="false" name="provider"/>
    <option value="(C) Nick Smith" fromDef="false" name="copyright"/>
    <option value="0.2.0" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="android-manifest"/>
    <option value="" fromDef="true" name="android-custom-activity"/>
    <option value="" fromDef="true" name="android-extra-manifest"/>
    <option value="" fromDef="true" name="android-extra-application-manifest"/>
    <option value="" fromDef="true" name="android-extra-strings"/>
    <option value="" fromDef="true" name="android-supports-gl-texture"/>
    <option value="" fromDef="true" name="android-unsigned"/>
</config>
