<config platform="win32" template="win32 (default)">Created: Tue 21. Jan 12:12:10 2014
By: nsmith
Using Template: win32 (default)

&lt;description to go here><option value="" fromDef="true" name="win32-pref-processtitle"/>
    <option value="" fromDef="true" name="win32-icon"/>
    <option value="" fromDef="true" name="target-dir"/>
    <option value="" fromDef="true" name="win32-inno-name"/>
    <option value="" fromDef="true" name="win32-inno-text"/>
    <option value="" fromDef="true" name="win32-inno-bmp"/>
    <option value="" fromDef="true" name="win32-inno-icon"/>
    <option value="store_resources/wrongicon480.png" fromDef="false" name="icon"/>
    <option value="" fromDef="false" name="splashscreen"/>
    <option value="" fromDef="false" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="distribution" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong" fromDef="true" name="name"/>
    <option value="Wrong" fromDef="true" name="caption"/>
    <option value="Nick Smith" fromDef="false" name="provider"/>
    <option value="(C) Nick Smith" fromDef="false" name="copyright"/>
    <option value="0.1.8" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
