<config template="Distribution Android (template)" platform="android">Created: Mon Feb 3 13:31:38 2014
By: nsmith
Using Template: Distribution Android (template)

&lt;description to go here><option fromDef="true" name="android-icon-dir" value=""/>
    <option fromDef="true" name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option fromDef="true" name="android-icon-gallery" value=""/>
    <option fromDef="true" name="android-icon-nonstandard" value=""/>
    <option fromDef="true" name="android-external-res" value=""/>
    <option fromDef="true" name="android-install-location" value="1"/>
    <option fromDef="true" name="android-pkgname" value="com.Nick Smith.Wrong x86"/>
    <option fromDef="false" name="icon" value="store_resources/wrongicon480.png"/>
    <option fromDef="false" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="distribution"/>
    <option fromDef="false" name="embed-icf" value="0"/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="false" name="name" value="Wrong x86"/>
    <option fromDef="false" name="caption" value="Wrong"/>
    <option fromDef="false" name="provider" value="Nick Smith"/>
    <option fromDef="false" name="copyright" value="(C) Nick Smith"/>
    <option fromDef="false" name="version" value="0.2.0"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="android-manifest" value=""/>
    <option fromDef="true" name="android-custom-activity" value=""/>
    <option fromDef="true" name="android-extra-manifest" value=""/>
    <option fromDef="true" name="android-extra-application-manifest" value=""/>
    <option fromDef="true" name="android-extra-strings" value=""/>
    <option fromDef="true" name="android-supports-gl-texture" value=""/>
    <option fromDef="true" name="android-unsigned" value=""/>
</config>
