<config template="iphone (default)" platform="iphone">Created: Tue Mar 31 14:29:47 2015&#xd;&#xd;
By: Nick&#xd;&#xd;
Using Template: iphone (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option fromDef="true" name="iphone-application-type" value="&quot;universal&quot;"/>
    <option fromDef="false" name="iphone-appid" value="com.nickchops.wrong"/>
    <option fromDef="true" name="iphone-show-status-bar" value=""/>
    <option fromDef="true" name="iphone-uiviewcontroller-based-status-bar" value=""/>
    <option fromDef="true" name="iphone-minimum-ios-version" value="4.3"/>
    <option fromDef="true" name="iphone-icon-dir" value=""/>
    <option fromDef="true" name="iphone-icon-extra" value=""/>
    <option fromDef="true" name="iphone-prerendered-icon" value=""/>
    <option fromDef="true" name="iphone-skip-icon-generation" value=""/>
    <option fromDef="true" name="iphone-launch-dir" value=""/>
    <option fromDef="true" name="iphone-launch-storyboard" value=""/>
    <option fromDef="true" name="iphone-launch-extra" value=""/>
    <option fromDef="true" name="iphone-skip-launch-generation" value=""/>
    <option fromDef="true" name="iphone-disable-launch-images" value=""/>
    <option fromDef="true" name="iphone-allow-launch-rotation" value=""/>
    <option fromDef="false" name="icon" value="resources-deploy/wrongicon480.png"/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="distribution"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="Wrong"/>
    <option fromDef="false" name="caption" value="W R O N G"/>
    <option fromDef="false" name="provider" value="Nicholas Smith"/>
    <option fromDef="true" name="copyright" value="(C) Nicholas Smith"/>
    <option fromDef="false" name="version" value="1.0.4"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="iphone-region" value="English"/>
    <option fromDef="true" name="iphone-info-plist" value=""/>
    <option fromDef="true" name="iphone-persistent-wifi" value=""/>
    <option fromDef="true" name="iphone-backgroundmode-audio" value=""/>
    <option fromDef="true" name="iphone-app-fonts" value=""/>
    <option fromDef="true" name="iphone-bundle-localisations" value=""/>
    <option fromDef="true" name="iphone-bundle-url-name" value=""/>
    <option fromDef="true" name="iphone-bundle-url-schemes" value=""/>
    <option fromDef="true" name="itunes-artwork" value=""/>
    <option fromDef="true" name="iphone-info-plist-override" value=""/>
    <option fromDef="false" name="iphone-extra-string" value="[]"/>
    <option fromDef="true" name="iphone-info-plist-sniplets" value=""/>
    <option fromDef="true" name="iphone-nosign" value=""/>
    <option fromDef="true" name="iphone-sign-for-distribution" value=""/>
    <option fromDef="true" name="iphone-provisioning-profile" value=""/>
    <option fromDef="true" name="iphone-signing-identity" value=""/>
    <option fromDef="true" name="iphone-testflight" value=""/>
</config>
