<config platform="iphone" template="iphone (default)">Created: Fri Mar 7 16:56:13 2014
By: nsmith
Using Template: iphone (default)

&lt;description to go here><option value="&quot;universal&quot;" name="iphone-application-type" fromDef="true"/>
    <option value="com.nsmith.Wrong" name="iphone-appid" fromDef="true"/>
    <option value="" name="iphone-icon-dir" fromDef="true"/>
    <option value="-76;&lt;none>;-120;&lt;none>;-76@2x;&lt;none>" name="iphone-icon-7-group" fromDef="true"/>
    <option value="-Small;&lt;none>;-Small-40;&lt;none>;-Small@2x;&lt;none>;-Small-40@2x;&lt;none>" name="iphone-icon-7-search-group" fromDef="true"/>
    <option value="" name="iphone-prerendered-icon" fromDef="true"/>
    <option value="" name="iphone-splash-dir" fromDef="true"/>
    <option value="" name="iphone-show-status-bar" fromDef="true"/>
    <option value="~iphone;&lt;none>;@2x~iphone;&lt;none>;-568h@2x~iphone;&lt;none>" name="iphone-splash-group-iphone" fromDef="true"/>
    <option value="-Portrait~ipad;&lt;none>;-PortraitUpsideDown~ipad;&lt;none>;-Landscape~ipad;&lt;none>;-LandscapeRight~ipad;&lt;none>;-Portrait@2x~ipad;&lt;none>;-PortraitUpsideDown@2x~ipad;&lt;none>;-Landscape@2x~ipad;&lt;none>;-LandscapeRight@2x~ipad;&lt;none>" name="iphone-splash-group-ipad" fromDef="true"/>
    <option value="resources-deploy/wrongicon480.png" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="" name="config" fromDef="true"/>
    <option value="Wrong" name="name" fromDef="true"/>
    <option value="Wrong" name="caption" fromDef="true"/>
    <option value="nsmith" name="provider" fromDef="true"/>
    <option value="(C) nsmith" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="itunes-artwork" fromDef="true"/>
    <option value=";&lt;none>;-72;&lt;none>;@2x;&lt;none>;-72@2x;&lt;none>" name="iphone-icon-group" fromDef="true"/>
    <option value="-Small;&lt;none>;-Small-50;&lt;none>;-Small@2x;&lt;none>;-Small-50@2x;&lt;none>" name="iphone-icon-search-group" fromDef="true"/>
    <option value="" name="iphone-nosign" fromDef="true"/>
    <option value="" name="iphone-sign-for-distribution" fromDef="true"/>
    <option value="" name="iphone-provisioning-profile" fromDef="true"/>
    <option value="" name="iphone-signing-identity" fromDef="true"/>
    <option value="English" name="iphone-region" fromDef="true"/>
    <option value="" name="iphone-info-plist" fromDef="true"/>
    <option value="" name="iphone-persistent-wifi" fromDef="true"/>
    <option value="" name="iphone-backgroundmode-audio" fromDef="true"/>
    <option value="" name="iphone-app-fonts" fromDef="true"/>
    <option value="" name="iphone-bundle-localisations" fromDef="true"/>
    <option value="" name="iphone-bundle-url-name" fromDef="true"/>
    <option value="" name="iphone-bundle-url-schemes" fromDef="true"/>
</config>
