<config platform="iphone-fat" template="iphone-fat (default)">Created: Mon Jun 22 18:17:55 2015
By: Nick
Using Template: iphone-fat (default)

&lt;description to go here><option value="&quot;universal&quot;" name="iphone-application-type" fromDef="true"/>
    <option value="com.nickchops.wrong" name="iphone-appid" fromDef="false"/>
    <option value="" name="iphone-show-status-bar" fromDef="true"/>
    <option value="" name="iphone-uiviewcontroller-based-status-bar" fromDef="true"/>
    <option value="6.0" name="iphone-minimum-ios-version" fromDef="false"/>
    <option value="" name="iphone-icon-dir" fromDef="true"/>
    <option value="" name="iphone-icon-extra" fromDef="true"/>
    <option value="" name="iphone-prerendered-icon" fromDef="true"/>
    <option value="" name="iphone-skip-icon-generation" fromDef="true"/>
    <option value="" name="iphone-launch-dir" fromDef="true"/>
    <option value="" name="iphone-launch-storyboard" fromDef="true"/>
    <option value="" name="iphone-launch-extra" fromDef="true"/>
    <option value="" name="iphone-skip-launch-generation" fromDef="true"/>
    <option value="" name="iphone-disable-launch-images" fromDef="true"/>
    <option value="" name="iphone-allow-launch-rotation" fromDef="true"/>
    <option value="resources-deploy/wrongicon480.png" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="distribution" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="Wrong" name="name" fromDef="false"/>
    <option value="W R O N G" name="caption" fromDef="false"/>
    <option value="Nick Smith" name="provider" fromDef="false"/>
    <option value="(C) Nick Smith" name="copyright" fromDef="false"/>
    <option value="1.0.4" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="English" name="iphone-region" fromDef="true"/>
    <option value="" name="iphone-info-plist" fromDef="true"/>
    <option value="" name="iphone-info-plist-override" fromDef="true"/>
    <option value="" name="iphone-extra-string" fromDef="true"/>
    <option value="" name="iphone-info-plist-sniplets" fromDef="true"/>
    <option value="" name="iphone-persistent-wifi" fromDef="true"/>
    <option value="" name="iphone-backgroundmode-audio" fromDef="true"/>
    <option value="" name="iphone-app-fonts" fromDef="true"/>
    <option value="" name="iphone-bundle-localisations" fromDef="true"/>
    <option value="" name="iphone-bundle-url-name" fromDef="true"/>
    <option value="" name="iphone-bundle-url-schemes" fromDef="true"/>
    <option value="" name="itunes-artwork" fromDef="true"/>
    <option value="" name="iphone-nosign" fromDef="true"/>
    <option value="1" name="iphone-sign-for-distribution" fromDef="false"/>
    <option value="resources-deploy/wrong_distribution.mobileprovision" name="iphone-provisioning-profile" fromDef="false"/>
    <option value="" name="iphone-disable-testflight" fromDef="true"/>
    <option value="" name="iphone-signing-identity" fromDef="true"/>
    <option value="" name="iphone-testflight" fromDef="true"/>
</config>
