<config platform="iphone" template="iphone (default)">Created: Tue Mar 31 14:29:47 2015

By: Nick

Using Template: iphone (default)



&lt;description to go here><option value="&quot;universal&quot;" fromDef="true" name="iphone-application-type"/>
    <option value="com.nickchops.wrong" fromDef="false" name="iphone-appid"/>
    <option value="" fromDef="true" name="iphone-show-status-bar"/>
    <option value="" fromDef="true" name="iphone-uiviewcontroller-based-status-bar"/>
    <option value="4.3" fromDef="true" name="iphone-minimum-ios-version"/>
    <option value="" fromDef="true" name="iphone-icon-dir"/>
    <option value="" fromDef="true" name="iphone-icon-extra"/>
    <option value="" fromDef="true" name="iphone-prerendered-icon"/>
    <option value="" fromDef="true" name="iphone-skip-icon-generation"/>
    <option value="" fromDef="true" name="iphone-launch-dir"/>
    <option value="" fromDef="true" name="iphone-launch-storyboard"/>
    <option value="" fromDef="true" name="iphone-launch-extra"/>
    <option value="" fromDef="true" name="iphone-skip-launch-generation"/>
    <option value="" fromDef="true" name="iphone-disable-launch-images"/>
    <option value="" fromDef="true" name="iphone-allow-launch-rotation"/>
    <option value="resources-deploy/wrongicon480.png" fromDef="false" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="ios_game_services" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong" fromDef="true" name="name"/>
    <option value="W R O N G" fromDef="false" name="caption"/>
    <option value="Nicholas Smith" fromDef="false" name="provider"/>
    <option value="(C) Nicholas Smith" fromDef="true" name="copyright"/>
    <option value="1.1.0" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="English" fromDef="true" name="iphone-region"/>
    <option value="" fromDef="true" name="iphone-info-plist"/>
    <option value="" fromDef="true" name="iphone-persistent-wifi"/>
    <option value="" fromDef="true" name="iphone-backgroundmode-audio"/>
    <option value="" fromDef="true" name="iphone-app-fonts"/>
    <option value="" fromDef="true" name="iphone-bundle-localisations"/>
    <option value="" fromDef="true" name="iphone-bundle-url-name"/>
    <option value="" fromDef="true" name="iphone-bundle-url-schemes"/>
    <option value="" fromDef="true" name="itunes-artwork"/>
    <option value="" fromDef="true" name="iphone-info-plist-override"/>
    <option value="" fromDef="true" name="iphone-extra-string"/>
    <option value="" fromDef="false" name="iphone-info-plist-sniplets"/>
    <option value="" fromDef="true" name="iphone-nosign"/>
    <option value="" fromDef="true" name="iphone-sign-for-distribution"/>
    <option value="../signing iOS 11-06-15/AnyAppDevelopment.mobileprovision" fromDef="false" name="iphone-provisioning-profile"/>
    <option value="" fromDef="true" name="iphone-signing-identity"/>
    <option value="" fromDef="true" name="iphone-testflight"/>
</config>
