<config template="nacl (default)" platform="nacl">Created: Tue May 26 14:30:11 2015
By: Nick
Using Template: nacl (default)

&lt;description to go here><option name="nacl-icon-16X16" fromDef="true" value=""/>
    <option name="nacl-icon-128X128" fromDef="true" value=""/>
    <option name="nacl-manifest" fromDef="true" value=""/>
    <option name="nacl-legacy-ext" fromDef="true" value=""/>
    <option name="nacl-permissions" fromDef="true" value=""/>
    <option name="nacl-skip-zip" fromDef="true" value=""/>
    <option name="nacl-clear-user-data" fromDef="true" value=""/>
    <option name="icon" fromDef="false" value="resources-deploy/wrongicon480.png"/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="resources/common.icf;resources/app.icf"/>
    <option name="name" fromDef="true" value="Wrong"/>
    <option name="caption" fromDef="true" value="Wrong"/>
    <option name="provider" fromDef="false" value="Nicholas Smith"/>
    <option name="copyright" fromDef="true" value="(C) Nicholas Smith"/>
    <option name="version" fromDef="false" value="0.1.8"/>
    <option name="version-string" fromDef="true" value=""/>
</config>
