<config template="nacl (default)" platform="nacl">Created: Tue May 26 14:30:11 2015&#xd;&#xd;
By: Nick&#xd;&#xd;
Using Template: nacl (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option fromDef="true" name="nacl-icon-16X16" value=""/>
    <option fromDef="true" name="nacl-icon-128X128" value=""/>
    <option fromDef="true" name="nacl-manifest" value=""/>
    <option fromDef="true" name="nacl-legacy-ext" value=""/>
    <option fromDef="true" name="nacl-permissions" value=""/>
    <option fromDef="true" name="nacl-skip-zip" value=""/>
    <option fromDef="true" name="nacl-clear-user-data" value=""/>
    <option fromDef="false" name="icon" value="resources-deploy/wrongicon480.png"/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="Wrong"/>
    <option fromDef="true" name="caption" value="Wrong"/>
    <option fromDef="false" name="provider" value="Nicholas Smith"/>
    <option fromDef="true" name="copyright" value="(C) Nicholas Smith"/>
    <option fromDef="false" name="version" value="0.1.8"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
