<config template="nacl (default)" platform="nacl">Created: Tue May 26 14:30:11 2015&#xd;&#xd;
By: Nick&#xd;&#xd;
Using Template: nacl (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option fromDef="true" value="" name="nacl-icon-16X16"/>
    <option fromDef="true" value="" name="nacl-icon-128X128"/>
    <option fromDef="true" value="" name="nacl-manifest"/>
    <option fromDef="true" value="" name="nacl-legacy-ext"/>
    <option fromDef="true" value="" name="nacl-permissions"/>
    <option fromDef="true" value="" name="nacl-skip-zip"/>
    <option fromDef="true" value="" name="nacl-clear-user-data"/>
    <option fromDef="false" value="resources-deploy/wrongicon480.png" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="Wrong" name="name"/>
    <option fromDef="true" value="Wrong" name="caption"/>
    <option fromDef="false" value="Nicholas Smith" name="provider"/>
    <option fromDef="true" value="(C) Nicholas Smith" name="copyright"/>
    <option fromDef="false" value="0.1.8" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
