<config template="osx (default)" platform="osx">Created: Sat Jun 21 12:17:10 2014
By: nsmith
Using Template: osx (default)

&lt;description to go here><option fromDef="true" name="osx-icon" value=""/>
    <option fromDef="true" name="osx-info-plist" value=""/>
    <option fromDef="true" name="osx-sign-for-store" value=""/>
    <option fromDef="true" name="osx-minimum-osx-version" value="10.7"/>
    <option fromDef="true" name="osx-signing-identity-app" value="3rd Party Mac Developer Application"/>
    <option fromDef="true" name="osx-signing-identity-inst" value="3rd Party Mac Developer Installer"/>
    <option fromDef="true" name="osx-appstore-category" value="public.app-category.games"/>
    <option fromDef="true" name="osx-entitlements-plist" value=""/>
    <option fromDef="false" name="icon" value="resources-deploy/wrongicon480.png"/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="distribution"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="Wrong"/>
    <option fromDef="true" name="caption" value="Wrong"/>
    <option fromDef="false" name="provider" value="Nicholas Smith"/>
    <option fromDef="true" name="copyright" value="(C) Nicholas Smith"/>
    <option fromDef="false" name="version" value="0.9.0"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="osx-ext-dll" value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eWebView/lib/osx/libs3eWebView.dylib"/>
    <option fromDef="true" name="osx-extra-res" value=""/>
</config>
