<config template="osx (default)" platform="osx">Created: Sat Jun 21 12:17:10 2014
By: nsmith
Using Template: osx (default)

&lt;description to go here><option fromDef="true" value="" name="osx-icon"/>
    <option fromDef="true" value="" name="osx-info-plist"/>
    <option fromDef="true" value="" name="osx-sign-for-store"/>
    <option fromDef="true" value="10.7" name="osx-minimum-osx-version"/>
    <option fromDef="true" value="3rd Party Mac Developer Application" name="osx-signing-identity-app"/>
    <option fromDef="true" value="3rd Party Mac Developer Installer" name="osx-signing-identity-inst"/>
    <option fromDef="true" value="public.app-category.games" name="osx-appstore-category"/>
    <option fromDef="true" value="" name="osx-entitlements-plist"/>
    <option fromDef="false" value="resources-deploy/wrongicon480.png" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="distribution" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="Wrong" name="name"/>
    <option fromDef="true" value="Wrong" name="caption"/>
    <option fromDef="false" value="Nicholas Smith" name="provider"/>
    <option fromDef="true" value="(C) Nicholas Smith" name="copyright"/>
    <option fromDef="false" value="0.9.0" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eWebView/lib/osx/libs3eWebView.dylib" name="osx-ext-dll"/>
    <option fromDef="true" value="" name="osx-extra-res"/>
</config>
