<config platform="osx" template="osx (default)">Created: Sat Jun 21 12:17:10 2014
By: nsmith
Using Template: osx (default)

&lt;description to go here><option value="" fromDef="true" name="osx-icon"/>
    <option value="" fromDef="true" name="osx-info-plist"/>
    <option value="" fromDef="true" name="osx-sign-for-store"/>
    <option value="10.7" fromDef="true" name="osx-minimum-osx-version"/>
    <option value="3rd Party Mac Developer Application" fromDef="true" name="osx-signing-identity-app"/>
    <option value="3rd Party Mac Developer Installer" fromDef="true" name="osx-signing-identity-inst"/>
    <option value="public.app-category.games" fromDef="true" name="osx-appstore-category"/>
    <option value="" fromDef="true" name="osx-entitlements-plist"/>
    <option value="resources-deploy/wrongicon480.png" fromDef="false" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong" fromDef="true" name="name"/>
    <option value="Wrong" fromDef="true" name="caption"/>
    <option value="Nicholas Smith" fromDef="false" name="provider"/>
    <option value="(C) Nicholas Smith" fromDef="true" name="copyright"/>
    <option value="0.1.8" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eWebView/lib/osx/libs3eWebView.dylib" fromDef="true" name="osx-ext-dll"/>
    <option value="" fromDef="true" name="osx-extra-res"/>
</config>
