<config platform="project" template="project (default)">Created: Tue Mar 31 14:29:46 2015
By: Nick
Using Template: project (default)

&lt;description to go here><option name="icon" value="resources-deploy/wrongicon480.png" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="resources/common.icf;resources/app.icf" fromDef="true"/>
    <option name="name" value="Wrong" fromDef="true"/>
    <option name="caption" value="Wrong" fromDef="true"/>
    <option name="provider" value="Nicholas Smith" fromDef="false"/>
    <option name="copyright" value="(C) Nicholas Smith" fromDef="true"/>
    <option name="version" value="0.1.8" fromDef="false"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
