<config platform="project" template="project (default)">Created: Tue Mar 31 14:29:46 2015
By: Nick
Using Template: project (default)

&lt;description to go here><option value="resources-deploy/wrongicon480.png" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="Wrong" name="name" fromDef="true"/>
    <option value="Wrong" name="caption" fromDef="true"/>
    <option value="Nicholas Smith" name="provider" fromDef="false"/>
    <option value="(C) Nicholas Smith" name="copyright" fromDef="true"/>
    <option value="0.1.8" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
