<config platform="project" template="project (default)">Created: Tue Mar 31 14:29:46 2015&#xd;
By: Nick&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option value="resources-deploy/wrongicon480.png" fromDef="false" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong" fromDef="true" name="name"/>
    <option value="Wrong" fromDef="true" name="caption"/>
    <option value="Nicholas Smith" fromDef="false" name="provider"/>
    <option value="(C) Nicholas Smith" fromDef="true" name="copyright"/>
    <option value="0.1.8" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
