<config template="tizen-x86-emulator (default)" platform="tizen-x86-emulator">Created: Tue 10. Dec 15:27:59 2013
By: nsmith
Using Template: tizen-x86-emulator (default)

&lt;description to go here><option fromDef="true" value="" name="tizen-icon"/>
    <option fromDef="true" value="" name="tizen-appid"/>
    <option fromDef="true" value="" name="tizen-manifest"/>
    <option fromDef="true" value="" name="tizen-hw-acceleration"/>
    <option fromDef="true" value="" name="tizen-signed"/>
    <option fromDef="true" value="" name="tizen-device-id"/>
    <option fromDef="false" value="store_resources/wrongicon480.png" name="icon"/>
    <option fromDef="false" value="splash-768x768.jpg" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="Wrong" name="name"/>
    <option fromDef="true" value="Wrong" name="caption"/>
    <option fromDef="false" value="Nicholas Smith" name="provider"/>
    <option fromDef="true" value="(C) Nicholas Smith" name="copyright"/>
    <option fromDef="false" value="0.1.8" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="tizen-project-url"/>
    <option fromDef="true" value="" name="tizen-author-key"/>
    <option fromDef="true" value="" name="tizen-author-password"/>
    <option fromDef="true" value="" name="tizen-author-CA-path"/>
    <option fromDef="true" value="" name="tizen-dist1-CA-path"/>
    <option fromDef="true" value="" name="tizen-dist1-key"/>
    <option fromDef="true" value="" name="tizen-dist1-password"/>
    <option fromDef="true" value="" name="tizen-dist2-CA-path"/>
    <option fromDef="true" value="" name="tizen-dist2-key"/>
    <option fromDef="true" value="" name="tizen-dist2-password"/>
    <option fromDef="true" value="" name="tizen-dist2-CA-root-path"/>
</config>
