<config platform="tizen-x86-emulator" template="tizen-x86-emulator (default)">Created: Tue 10. Dec 15:27:59 2013
By: nsmith
Using Template: tizen-x86-emulator (default)

&lt;description to go here><option value="" fromDef="true" name="tizen-icon"/>
    <option value="" fromDef="true" name="tizen-appid"/>
    <option value="" fromDef="true" name="tizen-manifest"/>
    <option value="" fromDef="true" name="tizen-hw-acceleration"/>
    <option value="" fromDef="true" name="tizen-signed"/>
    <option value="" fromDef="true" name="tizen-device-id"/>
    <option value="store_resources/wrongicon480.png" fromDef="false" name="icon"/>
    <option value="splash-768x768.jpg" fromDef="false" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong" fromDef="true" name="name"/>
    <option value="Wrong" fromDef="true" name="caption"/>
    <option value="Nicholas Smith" fromDef="false" name="provider"/>
    <option value="(C) Nicholas Smith" fromDef="true" name="copyright"/>
    <option value="0.1.8" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="tizen-project-url"/>
    <option value="" fromDef="true" name="tizen-author-key"/>
    <option value="" fromDef="true" name="tizen-author-password"/>
    <option value="" fromDef="true" name="tizen-author-CA-path"/>
    <option value="" fromDef="true" name="tizen-dist1-CA-path"/>
    <option value="" fromDef="true" name="tizen-dist1-key"/>
    <option value="" fromDef="true" name="tizen-dist1-password"/>
    <option value="" fromDef="true" name="tizen-dist2-CA-path"/>
    <option value="" fromDef="true" name="tizen-dist2-key"/>
    <option value="" fromDef="true" name="tizen-dist2-password"/>
    <option value="" fromDef="true" name="tizen-dist2-CA-root-path"/>
</config>
