<config template="tizen-x86-emulator (default)" platform="tizen-x86-emulator">Created: Tue 10. Dec 15:27:59 2013
By: nsmith
Using Template: tizen-x86-emulator (default)

&lt;description to go here><option fromDef="true" name="tizen-icon" value=""/>
    <option fromDef="true" name="tizen-appid" value=""/>
    <option fromDef="true" name="tizen-manifest" value=""/>
    <option fromDef="true" name="tizen-hw-acceleration" value=""/>
    <option fromDef="true" name="tizen-signed" value=""/>
    <option fromDef="true" name="tizen-device-id" value=""/>
    <option fromDef="false" name="icon" value="store_resources/wrongicon480.png"/>
    <option fromDef="false" name="splashscreen" value="splash-768x768.jpg"/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="Wrong"/>
    <option fromDef="true" name="caption" value="Wrong"/>
    <option fromDef="false" name="provider" value="Nicholas Smith"/>
    <option fromDef="true" name="copyright" value="(C) Nicholas Smith"/>
    <option fromDef="false" name="version" value="0.1.8"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="tizen-project-url" value=""/>
    <option fromDef="true" name="tizen-author-key" value=""/>
    <option fromDef="true" name="tizen-author-password" value=""/>
    <option fromDef="true" name="tizen-author-CA-path" value=""/>
    <option fromDef="true" name="tizen-dist1-CA-path" value=""/>
    <option fromDef="true" name="tizen-dist1-key" value=""/>
    <option fromDef="true" name="tizen-dist1-password" value=""/>
    <option fromDef="true" name="tizen-dist2-CA-path" value=""/>
    <option fromDef="true" name="tizen-dist2-key" value=""/>
    <option fromDef="true" name="tizen-dist2-password" value=""/>
    <option fromDef="true" name="tizen-dist2-CA-root-path" value=""/>
</config>
