<config template="win32-sim (default)" platform="win32-sim">Created: Thu Apr 17 17:12:12 2014
By: nsmith
Using Template: win32-sim (default)

&lt;description to go here><option fromDef="true" name="win32-pref-processtitle" value=""/>
    <option fromDef="true" name="win32-icon" value=""/>
    <option fromDef="true" name="target-dir" value=""/>
    <option fromDef="true" name="win32-inno-name" value=""/>
    <option fromDef="true" name="win32-inno-text" value=""/>
    <option fromDef="true" name="win32-inno-bmp" value=""/>
    <option fromDef="true" name="win32-inno-icon" value=""/>
    <option fromDef="false" name="icon" value="store_resources/wrongicon480.png"/>
    <option fromDef="false" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="false" name="embed-icf" value="0"/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="Wrong"/>
    <option fromDef="false" name="caption" value="W R O N G"/>
    <option fromDef="false" name="provider" value="Nick Smith"/>
    <option fromDef="false" name="copyright" value="(C) Nick Smith"/>
    <option fromDef="false" name="version" value="0.3.0"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
