<config template="win32 (default)" platform="win32">Created: Tue Apr 28 16:02:34 2015
By: Nick
Using Template: win32 (default)

&lt;description to go here><option fromDef="true" name="win32-pref-processtitle" value=""/>
    <option fromDef="true" name="win32-gles-directory" value=""/>
    <option fromDef="true" name="win32-icon" value=""/>
    <option fromDef="true" name="target-dir" value=""/>
    <option fromDef="true" name="win32-inno-name" value=""/>
    <option fromDef="true" name="win32-inno-text" value=""/>
    <option fromDef="true" name="win32-inno-bmp" value=""/>
    <option fromDef="true" name="win32-inno-icon" value=""/>
    <option fromDef="false" name="icon" value="resources-deploy/wrongicon480.png"/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="distribution"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="false" name="config" value="resources/common.icf;resources/app.icf;resources/win_deploy.icf"/>
    <option fromDef="true" name="name" value="Wrong"/>
    <option fromDef="true" name="caption" value="Wrong"/>
    <option fromDef="false" name="provider" value="Nicholas Smith"/>
    <option fromDef="true" name="copyright" value="(C) Nicholas Smith"/>
    <option fromDef="false" name="version" value="0.1.8"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
