<config template="win32 (default)" platform="win32">Created: Tue Apr 28 16:02:34 2015
By: Nick
Using Template: win32 (default)

&lt;description to go here><option name="win32-pref-processtitle" value="" fromDef="true"/>
    <option name="win32-gles-directory" value="" fromDef="true"/>
    <option name="win32-icon" value="" fromDef="true"/>
    <option name="target-dir" value="" fromDef="true"/>
    <option name="win32-inno-name" value="" fromDef="true"/>
    <option name="win32-inno-text" value="" fromDef="true"/>
    <option name="win32-inno-bmp" value="" fromDef="true"/>
    <option name="win32-inno-icon" value="" fromDef="true"/>
    <option name="icon" value="resources-deploy/wrongicon480.png" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="distribution" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="resources/common.icf;resources/app.icf" fromDef="true"/>
    <option name="name" value="Wrong" fromDef="true"/>
    <option name="caption" value="Wrong" fromDef="true"/>
    <option name="provider" value="Nicholas Smith" fromDef="false"/>
    <option name="copyright" value="(C) Nicholas Smith" fromDef="true"/>
    <option name="version" value="0.1.8" fromDef="false"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
