<config platform="win32-sim" template="win32-sim (default)">Created: Thu Apr 17 17:12:12 2014
By: nsmith
Using Template: win32-sim (default)

&lt;description to go here><option value="" fromDef="true" name="win32-pref-processtitle"/>
    <option value="" fromDef="true" name="win32-icon"/>
    <option value="" fromDef="true" name="target-dir"/>
    <option value="" fromDef="true" name="win32-inno-name"/>
    <option value="" fromDef="true" name="win32-inno-text"/>
    <option value="" fromDef="true" name="win32-inno-bmp"/>
    <option value="" fromDef="true" name="win32-inno-icon"/>
    <option value="store_resources/wrongicon480.png" fromDef="false" name="icon"/>
    <option value="" fromDef="false" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="0" fromDef="false" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong" fromDef="true" name="name"/>
    <option value="W R O N G" fromDef="false" name="caption"/>
    <option value="Nick Smith" fromDef="false" name="provider"/>
    <option value="(C) Nick Smith" fromDef="false" name="copyright"/>
    <option value="0.3.0" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
