<config platform="win32-sim" template="win32-sim (default)">Created: Thu Apr 17 17:12:12 2014
By: nsmith
Using Template: win32-sim (default)

&lt;description to go here><option value="" name="win32-pref-processtitle" fromDef="true"/>
    <option value="" name="win32-icon" fromDef="true"/>
    <option value="" name="target-dir" fromDef="true"/>
    <option value="" name="win32-inno-name" fromDef="true"/>
    <option value="" name="win32-inno-text" fromDef="true"/>
    <option value="" name="win32-inno-bmp" fromDef="true"/>
    <option value="" name="win32-inno-icon" fromDef="true"/>
    <option value="store_resources/wrongicon480.png" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="0" name="embed-icf" fromDef="false"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="Wrong" name="name" fromDef="true"/>
    <option value="W R O N G" name="caption" fromDef="false"/>
    <option value="Nick Smith" name="provider" fromDef="false"/>
    <option value="(C) Nick Smith" name="copyright" fromDef="false"/>
    <option value="0.3.0" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
