<config template="wp81 (default)" platform="wp81">Created: Tue Mar 31 14:29:47 2015
By: Nick
Using Template: wp81 (default)

&lt;description to go here><option name="wp81-publisher-display-name" value="" fromDef="true"/>
    <option name="wp81-publisher-id" value="" fromDef="true"/>
    <option name="wp81-identity-name" value="" fromDef="true"/>
    <option name="wp81-description" value="" fromDef="true"/>
    <option name="wp81-product-version" value="" fromDef="true"/>
    <option name="wp81-product-name" value="" fromDef="true"/>
    <option name="wp81-custom-manifest" value="" fromDef="true"/>
    <option name="wp81-custom-manifest-fill" value="" fromDef="true"/>
    <option name="icon" value="resources-deploy/wrongicon480.png" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="resources/common.icf;resources/app.icf" fromDef="true"/>
    <option name="name" value="Wrong" fromDef="true"/>
    <option name="caption" value="Wrong" fromDef="true"/>
    <option name="provider" value="Nicholas Smith" fromDef="false"/>
    <option name="copyright" value="(C) Nicholas Smith" fromDef="true"/>
    <option name="version" value="0.1.8" fromDef="false"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="wp81-logo-image150x150" value="" fromDef="true"/>
    <option name="wp81-logo-image50x50" value="" fromDef="true"/>
    <option name="wp81-logo-image44x44" value="" fromDef="true"/>
    <option name="wp81-splash-screen-image480x800" value="" fromDef="true"/>
    <option name="wp81-splash-screen-background" value="" fromDef="true"/>
    <option name="wp81-extra-res" value="" fromDef="true"/>
    <option name="wp81-ext-capabilities" value="" fromDef="true"/>
    <option name="wp81-ext-device-capabilities" value="" fromDef="true"/>
</config>
