<config platform="wp81" template="wp81 (default)">Created: Tue Mar 31 14:29:47 2015
By: Nick
Using Template: wp81 (default)

&lt;description to go here><option value="" fromDef="true" name="wp81-publisher-display-name"/>
    <option value="" fromDef="true" name="wp81-publisher-id"/>
    <option value="" fromDef="true" name="wp81-identity-name"/>
    <option value="" fromDef="true" name="wp81-description"/>
    <option value="" fromDef="true" name="wp81-product-version"/>
    <option value="" fromDef="true" name="wp81-product-name"/>
    <option value="" fromDef="true" name="wp81-custom-manifest"/>
    <option value="" fromDef="true" name="wp81-custom-manifest-fill"/>
    <option value="resources-deploy/wrongicon480.png" fromDef="false" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Wrong" fromDef="true" name="name"/>
    <option value="Wrong" fromDef="true" name="caption"/>
    <option value="Nicholas Smith" fromDef="false" name="provider"/>
    <option value="(C) Nicholas Smith" fromDef="true" name="copyright"/>
    <option value="0.1.8" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="wp81-logo-image150x150"/>
    <option value="" fromDef="true" name="wp81-logo-image50x50"/>
    <option value="" fromDef="true" name="wp81-logo-image44x44"/>
    <option value="" fromDef="true" name="wp81-splash-screen-image480x800"/>
    <option value="" fromDef="true" name="wp81-splash-screen-background"/>
    <option value="" fromDef="true" name="wp81-extra-res"/>
    <option value="" fromDef="true" name="wp81-ext-capabilities"/>
    <option value="" fromDef="true" name="wp81-ext-device-capabilities"/>
</config>
