<config platform="ws81" template="ws81 (default)">Created: Tue Mar 31 14:29:47 2015
By: Nick
Using Template: ws81 (default)

&lt;description to go here><option fromDef="true" name="ws81-publisher-display-name" value=""/>
    <option fromDef="false" name="ws81-publisher-id" value="CN=72F14577-B705-4B1E-9A39-211D960FAEA6"/>
    <option fromDef="true" name="ws81-identity-name" value=""/>
    <option fromDef="true" name="ws81-description" value=""/>
    <option fromDef="true" name="ws81-product-version" value=""/>
    <option fromDef="true" name="ws81-product-name" value=""/>
    <option fromDef="true" name="ws81-custom-manifest" value=""/>
    <option fromDef="true" name="ws81-custom-manifest-fill" value=""/>
    <option fromDef="true" name="ws81-logo-image150x150" value=""/>
    <option fromDef="true" name="ws81-logo-image50x50" value=""/>
    <option fromDef="true" name="ws81-logo-image30x30" value=""/>
    <option fromDef="true" name="ws81-splash-screen-image620x300" value=""/>
    <option fromDef="true" name="ws81-splash-screen-background" value=""/>
    <option fromDef="false" name="icon" value="resources-deploy/wrongicon480.png"/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="distribution"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="Wrong"/>
    <option fromDef="true" name="caption" value="Wrong"/>
    <option fromDef="false" name="provider" value="Nicholas Smith"/>
    <option fromDef="true" name="copyright" value="(C) Nicholas Smith"/>
    <option fromDef="false" name="version" value="0.2.0"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="ws81-distribution-cer" value=""/>
    <option fromDef="true" name="ws81-certificate-end-date" value=""/>
    <option fromDef="true" name="ws81-distribution-pfx" value=""/>
    <option fromDef="true" name="ws81-distribution-pfx-password" value=""/>
    <option fromDef="true" name="ws81-extra-res" value=""/>
    <option fromDef="true" name="ws81-ext-capabilities" value=""/>
    <option fromDef="true" name="ws81-ext-device-capabilities" value=""/>
</config>
