<config template="ws81 (default)" platform="ws81">Created: Tue Mar 31 14:29:47 2015
By: Nick
Using Template: ws81 (default)

&lt;description to go here><option name="ws81-publisher-display-name" value="" fromDef="true"/>
    <option name="ws81-publisher-id" value="CN=72F14577-B705-4B1E-9A39-211D960FAEA6" fromDef="false"/>
    <option name="ws81-identity-name" value="" fromDef="true"/>
    <option name="ws81-description" value="" fromDef="true"/>
    <option name="ws81-product-version" value="" fromDef="true"/>
    <option name="ws81-product-name" value="" fromDef="true"/>
    <option name="ws81-custom-manifest" value="" fromDef="true"/>
    <option name="ws81-custom-manifest-fill" value="" fromDef="true"/>
    <option name="ws81-logo-image150x150" value="" fromDef="true"/>
    <option name="ws81-logo-image50x50" value="" fromDef="true"/>
    <option name="ws81-logo-image30x30" value="" fromDef="true"/>
    <option name="ws81-splash-screen-image620x300" value="" fromDef="true"/>
    <option name="ws81-splash-screen-background" value="" fromDef="true"/>
    <option name="icon" value="resources-deploy/wrongicon480.png" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="resources/common.icf;resources/app.icf" fromDef="true"/>
    <option name="name" value="Wrong" fromDef="true"/>
    <option name="caption" value="Wrong" fromDef="true"/>
    <option name="provider" value="Nicholas Smith" fromDef="false"/>
    <option name="copyright" value="(C) Nicholas Smith" fromDef="true"/>
    <option name="version" value="0.1.8" fromDef="false"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="ws81-distribution-cer" value="" fromDef="true"/>
    <option name="ws81-certificate-end-date" value="" fromDef="true"/>
    <option name="ws81-distribution-pfx" value="" fromDef="true"/>
    <option name="ws81-distribution-pfx-password" value="" fromDef="true"/>
    <option name="ws81-extra-res" value="" fromDef="true"/>
    <option name="ws81-ext-capabilities" value="" fromDef="true"/>
    <option name="ws81-ext-device-capabilities" value="" fromDef="true"/>
</config>
