.DS\_Store
.DS_Store
*.sw?
*.bak
build_temp/**
resources-ram/**
resources-precompiled/**
resources-concatenated/**
OLDproject_Wrong/**
mkb-quick.txt
project.ini
**development.icf
**iwtrace.txt
builds/**
*.mobileprovision
*.keystore
*.mp4
*.mov
readme_private.txt
private_nsmith/**
Globals_pvt.lua
continue.txt
